Meijer/Platform-Core-Patch/Remote Approval/RAPNET/source/Projects/RapBase/RapNetBase/Web References/POSFileAccessService/POSFileAccessService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EmplPwdChange_ws">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OperID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EmplPwdChange_wsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EmplPwdChange_wsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmplPwd_ws">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OperID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OldPwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NewPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ChangeEmplPwd_wsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ChangeEmplPwd_wsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateEmplPwd_ws">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OperID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OldPwd" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidateEmplPwd_wsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidateEmplPwd_wsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxInvalidPwdAttempts_ws">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaxInvalidPwdAttempts_wsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMaxInvalidPwdAttempts_wsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>