Meijer/scot/Config/tbcontrols.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2005 sp1 U (http://www.xmlspy.com) by Paul Hachem (na) -->
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="field">
		<xs:complexType mixed="true">
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="ftype" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="boolean"/>
						<xs:enumeration value="i1"/>
						<xs:enumeration value="i2"/>
						<xs:enumeration value="i4"/>
						<xs:enumeration value="int"/>
						<xs:enumeration value="long"/>
						<xs:enumeration value="string"/>
						<xs:enumeration value="bin.base64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="fields">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="field" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="message">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="fields"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="optional"/>
			<xs:attribute name="msgid" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:hexBinary">
						<xs:enumeration value="10"/>
						<xs:enumeration value="20"/>
						<xs:enumeration value="30"/>
						<xs:enumeration value="40"/>
						<xs:enumeration value="4A"/>
						<xs:enumeration value="54"/>
						<xs:enumeration value="66"/>
						<xs:enumeration value="67"/>
						<xs:enumeration value="6A"/>
						<xs:enumeration value="90"/>
						<xs:enumeration value="A0"/>
						<xs:enumeration value="A1"/>
						<xs:enumeration value="A2"/>
						<xs:enumeration value="A3"/>
						<xs:enumeration value="FE"/>
						<xs:enumeration value="B0"/>
						<xs:enumeration value="B1"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="xmloutput" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="validate" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1"/>
						<xs:enumeration value="0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="messages">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="message" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="Version" use="optional" default="1.0">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="1.0"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
