Meijer/scot/Config/TBMsgMap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--W3C Schema generated by XMLSpy v2005 sp1 U (http://www.xmlspy.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
	<xs:element name="MapEntries">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="MapEntry" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="MHDisplay"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="MapEntry">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="TBCurrentInProgress"/>
				<xs:element ref="POSMessage"/>
				<xs:element ref="TBNewInProgress"/>
				<xs:element ref="TBReturnCode"/>
				<xs:group ref="HandlerGroup" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:group name="HandlerGroup">
		<xs:sequence>
			<xs:element name="TriggerMethod" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="MethodParam" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Trace" minOccurs="0"/>
		</xs:sequence>
	</xs:group>
	<xs:element name="POSMessage" type="xs:string"/>
	<xs:element name="TBCurrentInProgress" type="xs:string"/>
	<xs:element name="TBNewInProgress" type="xs:string"/>
	<xs:element name="TBReturnCode" type="xs:string"/>
</xs:schema>
